HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

src/main/resources/application.properties


CREATE DATABASE IF NOT EXISTS bio_adlister_db;

CREATE USER bio_adlister_user@localhost IDENTIFIED BY 'password';
GRANT ALL ON bio_adlister_db.* TO bio_adlister_user@localhost;
